
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
<div class="">
  <div class="w-50 ml-auto mr-auto">
    <div class='login-container text-center'> 
      <h1>Cadastre-se</h1>
      <% unless flash[:error].blank? %>
        <%= tag.p(flash[:error], class: 'text-danger') %>
      <% end %>
      <%= form_for @user do |f|%>
        <div class="form-group">
          <%= f.label :username %><br>
          <%= f.text_field :username, class: 'form-control'%><br>
        </div> 
        <div class="form-group">
          <%= f.label :password%><br>
          <%= f.password_field :password, class: 'form-control' %><br>
        </div>  
          
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 text-center mb-5">
              <h2 class="heading-section">Escolha no máximo 6 pokemons</h2>
            </div>
          </div>
          
          <div class="d-flex w-100" style="flex-flow: row wrap; justify-content: space-between">
            <%= create_checkboxes (@pokemons) %>
          </div>
         
        </div>
        <%= f.submit 'Cadastrar', class: 'btn btn-primary btn-lg btn-block' %>
      <%end%>
    </div>
  </div>  
</div>       
