<h1>Fazer nova troca</h1>
<% unless flash[:error].blank? %>
  <%= tag.p(flash[:error], class: 'text-danger') %>
<% end %>
<%= form_for 'trade' do |f|%>
  <p> Quais pokemons deseja trocar? </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Pokémon 1</th>
        <th scope="col">Pokémon 2</th>
        <th scope="col">Pokémon 3</th>
        <th scope="col">Pokémon 4</th>
        <th scope="col">Pokémon 5</th>
        <th scope="col">Pokémon 6</th>
        <th scope="col">Experiência Básica</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% [0,1,2,3,4,5].each do |index| %>
          <td><%=create_checkbox(current_user.pokemons[index], 'from_user')%></td>
        <% end %>
        <td id="from_user_selected_pokemons_base_experience">0</td> 
      </tr> 
    </tbody>
  </table>

  <p>Escolha um usuário abaixo e os pokemons que gostaria de trocar.</p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Usuário</th>
        <th scope="col">Pokémon 1</th>
        <th scope="col">Pokémon 2</th>
        <th scope="col">Pokémon 3</th>
        <th scope="col">Pokémon 4</th>
        <th scope="col">Pokémon 5</th>
        <th scope="col">Pokémon 6</th>
        <th scope="col">Experiência Básica</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td> <div class="form-check">
          <input class="form-check-input" type="radio" name="to_user_id" id="to_user_id_ <%=user.id%>" value=" <%=user.id%>">
          <label class="form-check-label" for="to_user_id_ <%=user.id%>">
          <%=user.username%>
          </label>
        </div></td>
        <% [0,1,2,3,4,5].each do |index| %>
          <td><%=create_checkbox(user.pokemons[index], 'to_user')%></td>
        <% end %> 
          <td id="to_user_selected_pokemons_base_experience">0</td>
        </tr>
      <% end %>  
    </tbody>
  </table>
  <%= f.submit 'Solicitar troca', class: 'btn btn-primary btn-lg btn-block w-25 m-auto' %>
<% end %>

<%= javascript_tag do %>
  function calculateBaseExperience(el, user){
    let sum = 0,
        avg = 0.0 
    selected_pokemons = $(el).closest('tr').find('input:checked');
        
    selected_pokemons.each(function(){
      sum += parseFloat($(this).data('experience'))
    });
    console.log(sum)
    console.log(selected_pokemons)
    
    $(el).closest('tr').find('#' + user + '_selected_pokemons_base_experience').html(sum)
  }
<% end %>