<!DOCTYPE html>
<html>
  <head>
    <title>PokeTrade</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless ["sessions","users"].include? params[:controller] %> 
      <div class="row">
        <div class='col-md-2 text-center'>
        <%= image_tag('poke_trade_logo.png', size: "100", class: 'mb-2') %>
        <br>
        Bem vindo <%= current_user.username %>     
          <ul class="nav flex-column nav-pills">
          <li class="nav-item <%= params[:action] == 'history' ? 'selected' : '' %>">
            <%= link_to 'Histórico de Trocas', trades_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= params[:action] == 'new' ? 'selected' : '' %>">
            <%= link_to 'Nova Troca', new_trade_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, class: 'nav-link' %>
          </li>
        </ul>  
        </div>
          
        <div class='col-md-10 ml-auto mr-auto'>
          <%= yield %>
        </div>  
      </div>
    <% else %>
      <%= yield %>
    <% end %>      
  </body>
</html>
